// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//
//@import 'theme/assets/custom/user/login-v1.css';
//@import 'theme/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css';
//@import 'theme/assets/vendors/general/tether/css/tether.css';
//@import 'theme/assets/vendors/general/bootstrap-datepicker/css/bootstrap-datepicker3.css';
//@import 'theme/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css';
//@import 'theme/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css';
//@import 'theme/assets/vendors/general/bootstrap-daterangepicker/css/daterangepicker.css';
//@import 'theme/assets/vendors/general/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css';
//@import 'theme/assets/vendors/general/bootstrap-select/css/bootstrap-select.css';
//@import 'theme/assets/vendors/general/nouislider/css/nouislider.css';
//@import 'theme/assets/vendors/general/owl.carousel/css/owl.carousel.css';
//@import 'theme/assets/vendors/general/owl.carousel/css/owl.theme.default.css';
//@import 'theme/assets/vendors/general/dropzone/css/dropzone.css';
//@import 'theme/assets/vendors/general/summernote/summernote.css';
//@import 'theme/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css';
//@import 'theme/assets/vendors/general/animate.css/css/animate.css';
//@import 'theme/assets/vendors/general/toastr/css/toastr.css';
//@import 'theme/assets/vendors/general/morris.js/css/morris.css';
//@import 'theme/assets/vendors/general/sweetalert2/css/sweetalert2.css';
//@import 'theme/assets/vendors/general/socicon/css/socicon.css';
//@import 'theme/assets/custom/vendors/line-awesome/css/line-awesome.css';
//@import 'theme/assets/custom/vendors/flaticon/flaticon.css';
//@import 'theme/assets/custom/vendors/flaticon2/flaticon.css';
//@import 'theme/assets/custom/vendors/fontawesome5/css/all.css';
//@import 'theme/assets/demo/default/base/style.bundle.css';

table td .dropdown-toggle:after {
    display: none;
}

table td .dropdown-toggle {
    background: none;
    border: none;
    font-size: 1.5em;
}
.rad-info-box {
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: white !important;
}
.rad-txt-success {
    color: #23AE89;
}
.rad-info-box i {
    display: block;
    background-clip: padding-box;
    margin-right: 15px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 4.4em;
    position: absolute;
}
.rad-info-box .heading {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}
.rad-info-box .value, .rad-info-box .heading {
    display: block;
    position: relative;
    color: #515d6e;
    text-align: right;
    z-index: 10;
}

.rad-info-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: 5px;
}
.rad-info-box .value, .rad-info-box .heading {
    display: block;
    position: relative;
    color: #515d6e;
    text-align: right;
    z-index: 10;
}