
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '~bulma';

//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}

body{
  background: #f8f8f8;
}

.widget.widget-stats {
  position: relative;
}
.widget {
  border-radius: 3px;
  margin-bottom: 20px;
  color: #fff;
  padding: 15px;
  overflow: hidden;
}
.bg-green {
  background: #00acac!important;
}
.bg-blue {
  background: #348fe2!important;
}
.bg-red {
  background: #ff5b57!important;
}
.widget-stats .stats-icon {
  font-size: 42px;
  height: 56px;
  width: 56px;
  text-align: center;
  line-height: 56px;
  margin-left: 15px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: .2;
  filter: alpha(opacity=20);
}
.widget-stats .stats-info h4 {
  font-size: 12px;
  margin: 5px 0;
  color: #fff;
}
.widget-stats .stats-info p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0;
}
.widget-stats .stats-link a {
  display: block;
  margin: 15px -15px -15px;
  padding: 7px 15px;
  //background: url(../img/transparent/black-0.4.png);
  background: rgba(0,0,0,.4);
  text-align: right;
  color: #ddd;
  font-weight: 300;
  text-decoration: none;
}