<template>
    <button class="btn btn-sm btn default float-right" @click="addFlight()">Flight</button>
</template>

<script>
    export default {
        props: ['customerId', 'groupId'],
        data(){
            return {
                flightNo: ''
            }
        },
        mounted() {
            console.log(this.customerId);
        },
        methods: {
            addFlight() {
                $('#flightModal').modal('show');
                axios.post('/get-customer-flight-number', { customer_id: this.customerId, 'group_id': this.groupId })
                    .then(({data}) => {
                        $('#flight_no').val(data.flight_no);
                    });
            }
        }
    }
</script>
