<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        {{ groupId ? lang.edit: lang.new }} {{ lang.groups }}
                    </div>

                    <div class="card-body">
                        <form method="POST" class="k-form" @submit.prevent="save()" novalidate>

                            <div class="form-group validated">
                                <label for="destination_id">{{ lang.destinations }}</label>
                                <select name="destination_id" id="destination_id" v-model="form.destination_id" :class="{ 'is-invalid': form.errors.has('destination_id') }" class="form-control">
                                    <option v-for="dest in destinations"
                                            :value="dest.id"
                                            v-bind:key="dest.id"
                                            v-text="dest.name">
                                    </option>
                                </select>
                                <has-error :form="form" field="destination_id"></has-error>
                            </div>


                            <div class="form-group validated">
                                <label for="arrival_date">{{ lang.arrival_date }}</label>
                                <input id="arrival_date" type="text" class="form-control" v-model="form.arrival_date" :class="{ 'is-invalid': form.errors.has('arrival_date') }" name="arrival_date" required>
                                <has-error :form="form" field="arrival_date"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="arrival_hour">{{ lang.arrival_time }}</label>
                                <input id="arrival_hour" type="time" class="form-control" v-model="form.arrival_hour" :class="{ 'is-invalid': form.errors.has('arrival_hour') }" name="arrival_hour" required>
                                <has-error :form="form" field="arrival_hour"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="special_requirements">{{ lang.special_requirements }}</label>
                                <textarea id="special_requirements" class="form-control" v-model="form.special_requirements" :class="{ 'is-invalid': form.errors.has('special_requirements') }" name="special_requirements" required></textarea>
                                <has-error :form="form" field="special_requirements"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="go">{{ lang.group_owner }}</label>
                                <input id="go" type="text" readonly class="form-control" v-model="owner">
                            </div>

                            <div class="form-group validated">
                                <label for="out_date">{{ lang.out_date }}</label>
                                <input id="out_date" type="text" class="form-control" v-model="form.out_date" :class="{ 'is-invalid': form.errors.has('out_date') }" name="out_date" required>
                                <has-error :form="form" field="out_date"></has-error>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ lang.customer }}</th>
                                        <th>{{ lang.total_price }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <input type="hidden" v-model="customerValues" name="customers">
                                    <tr v-for="(customer, index) in form.customers">
                                        <td>
                                            <input type="hidden" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.name.id') }" class="form-control">
                                            <v-select label="first_name" name="customers[]" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.name.id') }" :options="options" v-model="customer.name"></v-select>
                                            <has-error :form="form" :field="'customers.'+index+'.name.id'"></has-error>
                                        </td>
                                        <td>
                                            <input type="number" v-model="customer.price" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.price') }" class="form-control">
                                            <has-error :form="form" :field="'customers.'+index+'.price'"></has-error>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" @click="deleteCustomer(index)" v-if="form.customers.length>1">-</button>
                                            <button class="btn btn-primary" type="button" @click="addCustomer()">+</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group mb-0">
                                <button class="btn btn-brand btn-icon k-spinner k-spinner--center k-spinner--sm k-spinner--light" v-if="saving"></button>
                                <button type="submit" class="btn btn-outline-info" :disabled="saving" v-if="!saving">
                                    <!--<i class="fa fa-circle-o-notch fa-spin" v-if="saving" aria-hidden="true"></i>-->
                                    <span v-if="saving">{{ lang.saving }}</span>
                                    <span v-if="!saving">{{ lang.save }}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('has-error', HasError);
    Vue.component(HasError.name, HasError);
    export default {
        props: ["groupId"],

        data(){
            return {
                lang: {},
                saving: false,
                options: [],
                destinations: [],
                owner: user.first_name + ' ' + user.last_name,
                form: new Form({
                    destination_id: undefined,
                    arrival_date: '',
                    arrival_hour: '',
                    out_date: '',
                    special_requirements: '',
                    customers: []
                })
            }
        },
        mounted() {
            this.lang = window.lang;
            axios.get('/customers/json')
                .then(data => {
                    this.options = data.data;
                });
            axios.get('/destinations')
                .then(data => {
                    this.destinations = data.data;
                });
            if (this.groupId)
            {
                this.form.get(`/groups/${this.groupId}/edit`)
                    .then(({data}) => {
                        this.form.destination_id = data.destination_id;
                        this.form.arrival_date = this.dateFormat(data.arrival_date.substr(0, 10));
                        this.form.arrival_hour = data.arrival_hour;
                        this.form.out_date = this.dateFormat(data.out_date.substr(0, 10));
                        this.form.special_requirements = data.special_requirements;
                        if (data.customers.length)
                        {
                            data.customers.forEach((cus)=>{
                                this.form.customers.push({
                                    price: cus.pivot.price,
                                    name: { first_name: cus.first_name, id: cus.id }
                                });
                            });
                        }
                        else{
                            this.form.customers.push({});
                        }
                        this.form.successful = false;
                    })
            }else{
                this.form.customers.push({});
            }
        },
        methods: {
            deleteCustomer(i){
                this.form.customers.splice(i, 1);
            },
            addCustomer(){
                this.form.customers.push({})
            },
            save(){
                this.saving = true;
                if (this.groupId) {
                    this.form.put(`/groups/${this.groupId}`, this.form)
                        .then(data => {
                            this.saving = false;

                            this.$swal({
                                title: 'Success',
                                text: "Changes saved",
                                type: 'success',
                                showCancelButton: true,
                                cancelButtonText: 'Close',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Go to list'
                            }).then(redirect => {
                                if(redirect.value)
                                    window.location = data.data.returnUrl;
                            });

                        }).catch((error) => {
                        this.saving = false;
                    });
                }else{
                    this.form.post('/groups', this.form)
                        .then(data => {
                            this.saving = false;
                            if (data.status === 201){
                                this.$swal({
                                    title: 'Success',
                                    text: "Changes saved",
                                    type: 'success',
                                    showCancelButton: true,
                                    cancelButtonText: 'Close',
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Go to list'
                                }).then(redirect => {
                                    if(redirect.value)
                                        window.location = data.data.returnUrl;
                                });
                            }
                        }).catch((error) => {
                        this.saving = false;
                    });
                }
            },
            dateFormat(date){
                let x = date.split('-');
                return `${x[2]}/${x[1]}/${x[0]}`
            }
        },
        computed: {
            customerValues() {
                return JSON.stringify(this.form.customers);
            }
        }
    }
</script>
<style>
    .dropdown.v-select.single.searchable.is-invalid>div {
        border-color: #e3342f;
    }

    .v-select .dropdown-toggle::after {
        display: none;
    }

    .v-select .dropdown-toggle {
        padding: 0;
        height: 37px;
    }
</style>