<template>
    <div>
        <div class="modal" id="flightModal" tabindex="-1" role="dialog">
            <form @submit.prevent="saveFlight()" class="modal-dialog" role="document" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ lang.flight_number }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="flight_no">{{ lang.flight_no }}</label>
                            <input type="text" v-model="form.flight_no" :class="{ 'is-invalid': form.errors.has('flight_no') }" class="form-control" id="flight_no" name="flight_no" placeholder="Enter Flight Number">
                            <has-error :form="form" field="flight_no"></has-error>
                        </div>
                        <div class="form-group">
                            <label for="arrival_hour">{{ lang.arrival_hours }}</label>
                            <input type="time" v-model="form.arrival_hour" :class="{ 'is-invalid': form.errors.has('arrival_hour') }" class="form-control" id="arrival_hour" name="arrival_hour" placeholder="Enter Arrival Hour">
                            <has-error :form="form" field="arrival_hour"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card" v-for="(customer, index) in group.customers" v-bind:key="customer.id">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" :data-target="`#collapse${customer.id}`" aria-expanded="true" aria-controls="collapseOne">
                            {{ customer.first_name }} {{ customer.last_name }}
                        </button>
                        <button class="btn btn-sm btn-outline-danger float-right" @click="openModal(customer.id)">{{ lang.flight }}</button>
                        <!--<add-flight :customer-id="customer.id" :group-id="group.id"></add-flight>-->
                    </h5>
                </div>

                <div :id="`collapse${customer.id}`" class="collapse" :class="{ 'show': index  === 0 }" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <a v-if="!customer.payments" :href="`/groups/${group.id}/payments/create`">No payment found click here to <strong>Register new Payment</strong></a>
                        <table v-if="customer.payments" class="table table-borderless">
                            <tr v-for="(payment, paymentIndex) in customer.payments">
                                <td class="text-muted">{{ lang.payment_list }} {{ paymentIndex+1 }}</td>
                                <td class="text-muted">USD {{ payment.amount }}</td>
                                <td class="text-muted">{{ lang.date }}: {{ dateFormat(payment.created_at) }}</td>
                                <td>
                                    <a :href="`/payments/${payment.id}/download`">{{ lang.download_payment_proof }}</a>
                                </td>
                            </tr>
                        </table>
                        <h5 class="text-success font-weight-bold">{{ lang.total_paid }}: R$ {{ totalPayments(customer.payments) }}</h5>
                        <h5 class="text-danger font-weight-bold">Balance: R$ {{ customer.pivot.price - totalPayments(customer.payments) }}</h5>
                        <h5 class="text-primary font-weight-bold"><a :href="`/groups/${group.id}/payments/create`">{{ lang.register_new_payment }}</a></h5>
                        <h6 class="text-secondary">{{ lang.flight_no }}: {{ customer.pivot.flight_no }}</h6>
                        <h6 class="text-secondary">{{ lang.arrival_hours }}: {{ customer.pivot.arrival_hour }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    Vue.component('has-error', HasError);
    Vue.component(HasError.name, HasError);
    Vue.component(AlertSuccess.name, AlertSuccess);
    export default {
        props: ['groupId'],
        data(){
            return {
                lang: window.lang,
                group: {},
                form: new Form({
                    customer_id: null,
                    flight_no: '',
                    arrival_hour: ''
                })
            }
        },
        mounted() {
            axios.get(`/groups/${this.groupId}/customers/show`)
                .then(({data}) => {
                    this.group = data;
                });
        },
        methods: {
            totalPayments(payments) {
                let sum = 0;
                payments.forEach(p => sum += parseFloat(p.amount));
                return sum;
            },
            saveFlight(){
                this.form.post(`/groups/${this.groupId}/customer/flight`)
                    .then(({data}) => {
                        if(data.status) {
                            this.group.customers.filter(c => c.id === this.form.customer_id)[0].pivot.flight_no = this.form.flight_no;
                            this.group.customers.filter(c => c.id === this.form.customer_id)[0].pivot.arrival_hour = this.form.arrival_hour;
                            $('#flightModal').modal('hide');
                            this.$swal({
                                title: 'Success',
                                text: "Flight no. has been saved",
                                type: 'success',
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'OK'
                            }).then(data => {

                            })
                        }
                    });
            },
            openModal(cId){
                this.form.customer_id = cId;
                const selectedCustomer = this.group.customers.filter( c => c.id === cId ).shift();
                this.form.flight_no = selectedCustomer.pivot.flight_no;
                this.form.arrival_hour = selectedCustomer.pivot.arrival_hour;
                $('#flightModal').modal('show');
            },
            dateFormat(date)
            {
                let d = date.split(' ');
                let x = d[0].split('-');
                return `${x[2]}/${x[1]}/${x[0]}`
            }
        },
        computed: {

        }
    }
</script>
