<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{ groupId? 'Edit': 'New' }} Group
                        <a class="btn btn-success float-right" href="/groups">View List</a>
                    </div>

                    <div class="card-body">
                        <alert-success :form="form">Your changes have been saved!</alert-success>
                        <form method="POST" @submit.prevent="save()" novalidate>
                            <div class="form-group row">
                                <label for="destination_id" class="col-md-4 col-form-label text-md-right">Destination</label>
                                <div class="col-md-6">
                                    <select name="destination_id" id="destination_id" v-model="form.destination_id" :class="{ 'is-invalid': form.errors.has('destination_id') }" class="form-control">
                                        <option v-for="dest in destinations"
                                                :value="dest.id"
                                                v-bind:key="dest.id"
                                                v-text="dest.name">
                                        </option>
                                    </select>
                                    <has-error :form="form" field="customer_id"></has-error>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="arrival_date" class="col-md-4 col-form-label text-md-right">Arrival Date</label>

                                <div class="col-md-6">
                                    <input id="arrival_date" type="date" class="form-control" v-model="form.arrival_date" :class="{ 'is-invalid': form.errors.has('arrival_date') }" name="arrival_date" required autofocus>
                                    <has-error :form="form" field="arrival_date"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="special_requirements" class="col-md-4 col-form-label text-md-right">Special Requirements</label>

                                <div class="col-md-6">
                                    <textarea id="special_requirements" class="form-control" v-model="form.special_requirements" :class="{ 'is-invalid': form.errors.has('special_requirements') }" name="special_requirements" required></textarea>
                                    <has-error :form="form" field="special_requirements"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="go" class="col-md-4 col-form-label text-md-right">Group Owner</label>

                                <div class="col-md-6">
                                    <input id="go" type="text" readonly class="form-control" v-model="owner">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="out_date" class="col-md-4 col-form-label text-md-right">Out Date</label>

                                <div class="col-md-6">
                                    <input id="out_date" type="date" class="form-control" v-model="form.out_date" :class="{ 'is-invalid': form.errors.has('out_date') }" name="out_date" required>
                                    <has-error :form="form" field="out_date"></has-error>
                                </div>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Customer</th>
                                        <th>Total Price</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <input type="hidden" v-model="customerValues" name="customers">
                                    <tr v-for="(customer, index) in form.customers">
                                        <td>
                                            <input type="hidden" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.name.id') }" class="form-control">
                                            <v-select label="first_name" name="customers[]" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.name.id') }" :options="options" v-model="customer.name"></v-select>
                                            <has-error :form="form" :field="'customers.'+index+'.name.id'"></has-error>
                                        </td>
                                        <td>
                                            <input type="number" v-model="customer.price" :class="{ 'is-invalid': form.errors.has('customers.' + index + '.price') }" class="form-control">
                                            <has-error :form="form" :field="'customers.'+index+'.price'"></has-error>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" @click="deleteCustomer(index)" v-if="form.customers.length>1">-</button>
                                            <button class="btn btn-primary" type="button" @click="addCustomer()">+</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary" :disabled="saving">
                                        <i class="fa fa-circle-o-notch fa-spin" v-if="saving" aria-hidden="true"></i>
                                        <span v-if="saving">Saving</span>
                                        <span v-if="!saving">Save</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('has-error', HasError);
    Vue.component(HasError.name, HasError);
    Vue.component(AlertSuccess.name, AlertSuccess);
    export default {
        props: ["groupId"],

        data(){
            return {
                saving: false,
                options: [],
                destinations: [],
                owner: user.first_name + ' ' + user.last_name,
                form: new Form({
                    destination_id: undefined,
                    arrival_date: '',
                    out_date: '',
                    special_requirements: '',
                    customers: []
                })
            }
        },
        mounted() {
            axios.get('/customers')
                .then(data => {
                    this.options = data.data;
                });
            axios.get('/destinations')
                .then(data => {
                    this.destinations = data.data;
                });
            if (this.groupId)
            {
                this.form.get(`/groups/${this.groupId}/edit`)
                    .then(({data}) => {
                        this.form.destination_id = data.destination_id;
                        this.form.arrival_date = data.arrival_date.substr(0, 10);
                        this.form.out_date = data.out_date.substr(0, 10);
                        this.form.special_requirements = data.special_requirements;
                        if (data.customers.length)
                        {
                            data.customers.forEach((cus)=>{
                                this.form.customers.push({
                                    price: cus.pivot.price,
                                    name: { first_name: cus.first_name, id: cus.id }
                                });
                            });
                        }
                        else{
                            this.form.customers.push({});
                        }
                        this.form.successful = false;
                    })
            }else{
                this.form.customers.push({});
            }
        },
        methods: {
            deleteCustomer(i){
                this.form.customers.splice(i, 1);
            },
            addCustomer(){
                this.form.customers.push({})
            },
            save(){
                this.saving = true;
                if (this.groupId) {
                    this.form.put(`/groups/${this.groupId}`, this.form)
                        .then(data => {
                            this.saving = false;

                            this.$swal('Hello Vue world!!!');

                            setTimeout(()=>{
                                window.location = data.data.returnUrl;
                            }, 2000);
                        }).catch((error) => {
                        this.saving = false;
                        });
                }else{
                    this.form.post('/groups', this.form)
                    .then(data => {
                        this.saving = false;
                        if (data.status === 201){
                            setTimeout(()=>{
                                window.location = data.data.returnUrl;
                            }, 2000);
                        }
                    }).catch((error) => {
                        this.saving = false;
                    });
                }
            }
        },
        computed: {
            customerValues() {
                return JSON.stringify(this.form.customers);
            }
        }
    }
</script>
<style>
    .dropdown.v-select.single.searchable.is-invalid>div {
        border-color: #e3342f;
    }

    .v-select .dropdown-toggle::after {
        display: none;
    }

    .v-select .dropdown-toggle {
        padding: 0;
        height: 37px;
    }
</style>