<template>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">{{ groupId? lang.edit: lang.new }} {{ lang.payment_for }} {{
                            group.destination.name }} [{{ format_date(group.arrival_date) }} - {{
                            format_date(group.out_date) }}]</div>

                    <div class="card-body">
                        <alert-success :form="form">{{ lang.payment_received }}!</alert-success>
                        <form method="POST" class="mt-5" @submit.prevent="save()" novalidate enctype="multipart/form-data">
                            <div class="form-group validated">
                                <label for="customer_id">{{ lang.customers }}</label>
                                <select @change="checkCustomerBalance()" name="customer_id" id="customer_id"
                                        v-model="form.customer_id"
                                        :class="{ 'is-invalid': form.errors.has('customer_id') }" class="form-control">
                                    <option v-for="customer in customers"
                                            :value="customer.id"
                                            v-bind:key="customer.id"
                                            v-text="customer.first_name + ' ' + customer.last_name">
                                    </option>
                                </select>
                                <has-error :form="form" field="customer_id"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="amount">{{ lang.amount }}</label>
                                <div class="input-group">
                                    <input id="amount" type="number" class="form-control" @keyup="checkBalance()"
                                        v-model="form.amount" :class="{ 'is-invalid': form.errors.has('amount') }"
                                        name="amount" required>
                                    <div class="input-group-append">
                                            <span class="input-group-text">
                                                <span v-if="loadingBalance && form.customer_id">{{ lang.loading }}...</span>
                                                <span v-if="!loadingBalance && form.customer_id">{{ lang.balance }} : {{ calculatedBalance }}</span>
                                            </span>
                                    </div>
                                    <has-error :form="form" field="amount"></has-error>
                                </div>
                            </div>

                            <div class="form-group validated">
                                <label for="payment_method">{{ lang.payment_method }}</label>
                                <select name="payment_method" id="payment_method" v-model="form.payment_method"
                                        :class="{ 'is-invalid': form.errors.has('payment_method') }"
                                        class="form-control">
                                    <option value="Bank Transfer">{{ lang.bank_transfer }}</option>
                                    <option value="Money">{{ lang.money }}</option>
                                    <option value="Bank Slip">{{ lang.bank_slip }}</option>
                                </select>
                                <has-error :form="form" field="payment_method"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="remarks">{{ lang.comments }}</label>
                                <textarea id="remarks" class="form-control" v-model="form.remarks"
                                        :class="{ 'is-invalid': form.errors.has('remarks') }" name="remarks"
                                        required></textarea>
                                <has-error :form="form" field="remarks"></has-error>
                            </div>

                            <div class="form-group validated">
                                <label for="proof">{{ lang.attach_payment_proof }}</label>
                                <input id="proof" type="file" class="form-control"
                                    :class="{ 'is-invalid': form.errors.has('proof') }"
                                    @change="filesChange($event.target.name, $event.target.files)">
                                <has-error :form="form" field="proof"></has-error>
                            </div>

                            <div class="form-group validated mb-0">
                                <button class="btn btn-brand btn-icon k-spinner k-spinner--center k-spinner--sm k-spinner--light"
                                        v-if="saving"></button>
                                <button type="submit" class="btn btn-outline-info" :disabled="saving" v-if="!saving">
                                    <i class="fa fa-circle-o-notch fa-spin" v-if="saving" aria-hidden="true"></i>
                                    <span v-if="saving">{{ lang.saving }}</span>
                                    <span v-if="!saving">{{ lang.save }}</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    Vue.component('has-error', HasError);
    Vue.component(HasError.name, HasError);
    Vue.component(AlertSuccess.name, AlertSuccess);
    export default {
        props: ["groupId", "paymentId"],

        data() {
            return {
                lang: window.lang,
                saving: false,
                loadingBalance: false,
                customers: [],
                group: undefined,
                balance: 0,
                owner: user.first_name + ' ' + user.last_name,
                uploadedFiles: [],
                form: new Form({
                    amount: '',
                    customer_id: '',
                    payment_method: '',
                    remarks: '',
                    proof: new FormData()
                })
            }
        },
        mounted() {
            axios.get(`/groups/${this.groupId}/customers/json`)
                .then(data => {
                    this.customers = data.data;
                });
            axios.get(`/groups/${this.groupId}`)
                .then(({data}) => {
                    this.group = data;
                });
            if (this.paymentId) {
                axios.get(`/groups/${this.groupId}/payments/${this.paymentId}`)
                    .then(({data}) => {
                        this.form.customer_id = data.customer_id;
                        this.form.amount = data.amount;
                        this.form.payment_method = data.payment_method;
                        this.form.remarks = data.remarks;
                        this.checkCustomerBalance();
                    });
            }
        },
        methods: {
            save() {
                if (this.calculatedBalance < 0) {
                    alert('Your balance field is less than Zero, please fix amount field.');
                    return;
                }
                this.saving = true;
                let fd = new FormData();
                fd.append('customer_id', this.form.customer_id);
                fd.append('amount', this.form.amount);
                fd.append('payment_method', this.form.payment_method);
                fd.append('remarks', this.form.remarks);
                if (document.querySelector('[type=file]').files[0]) {
                    fd.append('proof', document.querySelector('[type=file]').files[0]);
                }
                let url = this.paymentId ? `/groups/${this.groupId}/payments/${this.paymentId}` : `/groups/${this.groupId}/payments`;
                axios[this.paymentId ? 'post' : 'post'](url, fd, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(data => {
                    this.form.successful = true;
                    this.saving = false;
                    setTimeout(() => {
                        window.location = data.data.returnUrl;
                    }, 2000);
                }).catch((error) => {
                    this.saving = false;
                    this.form.errors.set(error.response.data.errors);
                });
            },
            filesChange(fieldName, fileList) {
                this.form.proof.append('proof', fileList[0]);
            },
            format_date(date) {
                if (!date) {
                    return;
                }
                let year = date.substr(0, 4), month = date.substr(5, 2), day = date.substr(8, 2);
                return `${day}/${month}/${year}`;
            },
            checkCustomerBalance() {
                this.loadingBalance = true;
                axios.post(`/customer-balance`, {
                    'customer_id': this.form.customer_id,
                    'group_id': this.group.id,
                    'payment_id': parseInt(this.paymentId)
                })
                    .then(data => {
                        this.balance = data.data;
                        this.loadingBalance = false;
                        this.checkBalance();
                    });
            },
            checkBalance() {
                if (this.form.amount > this.balance)
                    this.form.amount = this.balance;
            }
        },
        computed: {
            customerValues() {
                return JSON.stringify(this.form.customers);
            },
            calculatedBalance() {
                if (!this.form.customer_id)
                    return 0;
                return this.balance - this.form.amount;
            }
        }
    }
</script>
<style>

</style>